/* Keyframes for the 1st elem */
@keyframes slideFirstItem {
  0% {
    transform: translateY(-95px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Keyframes for remain ele */
@keyframes slideRmain {
  0% {
    transform: translateY(300px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* Keyframes for the image animation */
@keyframes fadeInImage {
  from {
    opacity: 0;
    transform: translate(200px, 200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.Remain {
  display: none;
}
/* Styles for the text */
.FirstTextItem {
  animation: slideFirstItem 4s forwards infinite;
  animation-fill-mode: forwards;
}

.RemainText {
  animation: slideRmain 4s forwards infinite;
  animation-fill-mode: forwards;
}

/* Styles for the image */
.img {
  animation: fadeInImage 4s forwards infinite;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .FirstTextItem,
  .img,
  .RemainText {
    animation: none;
  }
}
