/* .img {
  opacity: 0;
  visibility: none;
  animation-name: slideText linear;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
} */

/* Keyframes for the img  */
@keyframes slideImg {
  from {
    opacity: 0;
    /* visibility: none;
    transform: translateY(-10px); */
  }
  to {
    opacity: 1;
    /* visibility: visible;
    transform: translateY(0); */
  }
}
/* Keyframes for the line */
/* @keyframes slideLine {
  from {
    color: var(--secondary);
    width: 0.25%;
  }
  to {
    color: var(--primary);
    width: 0.5%;
  }
}
@keyframes slideAnimation {
  0% {
    display: none;
  }
  50% {
    display: block;
  }
  100% {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .text,
  .title {
    animation: none;
  }
} */
