.text,
.img {
  display: none;
  animation: slideText 3s linear infinite alternate;
  animation-delay: 0.5s;
}

.title {
  animation: slideTitle 3s linear infinite alternate;
}
.line {
  animation: slideLine 2s forwards infinite;
}
/* Keyframes for the title */
@keyframes slideTitle {
  from {
    color: var(--lightBlue);
    font-size: 18px;
    font-weight: 400;
  }
  to {
    color: var(--primary);
    font-size: 25px;
    font-weight: 400;
  }
}
/* Keyframes for the text and img */
@keyframes slideText {
  from {
    display: none;
  }
  to {
    display: block;
  }
}
/* Keyframes for the line */
@keyframes slideLine {
  from {
    color: var(--secondary);
  }
  to {
    color: var(--primary);
    width: 0.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .text,
  .title {
    animation: none;
  }
}
